.wrap-profile-table {
    .intro-doctor {
        .avatar-wrap {
            margin-right: 15px;
            .avatar {
                width: 80px;
                height: 80px;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
            }
            .wrap-icon-location {
                font-size: 14px;
            }
        }
        .detail-info {
            .field {
                font-size: 14px;
                font-style: italic;
            }
        }
    }
}
